.calendario-container {
    border-radius: 15px;
  color: rgba(255, 255, 255, 0.7);
  background-color: #2b3048;
  
  border-bottom: 1px solid black;
  padding: 15px 15px;
  margin-left: 25px;
  margin-top: 25px;
  }
  
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
  font-size: 1.0625rem;
  }

  .header > h2{
    font-weight: 100;
  padding: 20px 20px;
  }
  
  .button {
    background-color: #f0f0f0;
    border: none;
 
    cursor: pointer;
  }

  .header-buttons-1{
    display: flex;
   max-height: 35px;
  }

  .header-buttons-2{
    display: flex;
   max-height: 35px;
  }

  .button-header-1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 35px;
 
    font-size: 14px;
    color: rgba(255, 255, 255, 0.7);
    border: #2b3553 solid 1px;
    transition: 0.2s ease-out;
    touch-action: manipulation;
    border-radius: 6px 0px 0px 6px;
    cursor: pointer;
    border-color: #3975f9;
    background-color: #3975f9;
    will-change: opacity, transform;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
   
  }

  .button-header-2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 35px;
    width: 42px;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.7);
    border: #2b3553 solid 1px;
    transition: 0.2s ease-out;
    touch-action: manipulation;
    cursor: pointer;
    border-color: #3975f9;
    background-color: #3975f9;
    will-change: opacity, transform;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
   
  }


  .button-header-3{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 35px;
    width: 42px;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.7);
    border: #2b3553 solid 1px;
    transition: 0.2s ease-out;
    touch-action: manipulation;
    cursor: pointer;
    border-color: #3975f9;
    background-color: #3975f9;
    will-change: opacity, transform;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
   
  }

  .button-header-4{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 35px;
    
    font-size: 14px;
    color: rgba(255, 255, 255, 0.7);
    border: #2b3553 solid 1px;
    transition: 0.2s ease-out;
    touch-action: manipulation;
    border-radius: 0px 6px 6px 0px;
    cursor: pointer;
    border-color: #3975f9;
    background-color: #3975f9;
    will-change: opacity, transform;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
   
  }

  .header-title{
    font-size: 20px;
    font-weight: 600;
    color: #e8edf7; 
    text-transform: uppercase;
  }



  
  .button-header-1:hover, .button-header-2:hover,.button-header-3:hover,.button-header-4:hover{
    
    font-size: 14px;
    color: #fff !important;
    background-color: #1251d6!important;
    border: #1251d6;
  }
  
  .dias-semana {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    font-weight: bold;
    height: 30px;
    
    border-radius: none;
    border-left: 0.5px solid #50596a;
  }

  .dias-semana div{
    border-right: 0.5px solid #50596a;
    border-bottom: 0.5px solid #50596a;
    border-top: 0.5px solid #50596a;
    padding: 5px;
  }

  .action-cell{
    border: 1px solid #3975f9;
    background: #3975f9;
    padding: 5px 8px;
    font-size: 15px;
    border-radius: 2px 2px 2px 2px;
    margin: 0px 2px;
    font-size: 15px;
    font-weight: 500;
    color: #fff;
  }
  
 
  .tabla-dias {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    border-left: 0.5px solid #50596a;
    
  }

  @media(max-width:1000px){

    .dias-semana {
        display: none;
      }

      .tabla-dias {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        
        gap: 5px;
      }

  }
  @media(max-width:800px){

    .dias-semana {
        display: none;
      }

      .tabla-dias {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        
        gap: 5px;
      }

  }

  @media(max-width:700px){

    .dias-semana {
        display: none;
      }

      .tabla-dias {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        
        gap: 5px;
      }

  }

  @media(max-width:600px){

    .dias-semana {
        display: none;
      }

      .tabla-dias {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        
        gap: 5px;
      }

  }
  @media(max-width:520px){

    .dias-semana {
        display: none;
      }

      .tabla-dias {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        
        gap: 5px;
      }

  }

  .celda-dia-numero{
    display: flex;
    justify-content: end;
    padding: 4px; 
    

  }
  
  .celda-dia {
    border-right: 1px solid #50596a;
    border-bottom: 1px solid #50596a;
    border-radius: none;
    min-height: 120px;
    
   
    
    text-align: center;
    cursor: pointer;
    
  }
  
 