.usuarios-container {
    border-radius: 5px;
    color: rgba(255, 255, 255, 0.7);
   
    padding: 15px 15px;
    margin-left: 25px;
     margin-top: 25px;
    background-color: #2b3048;
  }
  .usuario-table-headitem {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
    padding: 12px 7px;
    text-align: left;
  }

  .usuario-table-headitem-name {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
    padding: 12px 7px;
    text-align: left;
    padding-left: 20px;
  }
  
  .usuarios-header-group {
    padding: 22px;
    color: rgba(255, 255, 255, 0.7);
    font-size: 21px;
   padding-top:0px;
   padding-bottom: 10px;
   padding-left: 0px;
  }
  
  .usuarios-header-group > h4 {
    font-weight: 100;
    padding: 20px 20px;
  }
  .usuarios-table {
    border-collapse: collapse;
    border-spacing: 2px;
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.1);
  }
  
  .usuario-table-item {
    padding: 12px 7px;
    font-size: 14px;
    text-align: left;
  }

  .usuario-table-item-name {
    padding: 12px 7px;
    font-size: 14px;
    text-align: left;
    padding-left: 20px;
  }
  
  .usuario-table-row {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
  }