.crear-requisito {
  background-color: #27293d;
  border-radius: 5px;
}

.crear-requisito-header {
  padding: 20px;
  color: rgba(255, 255, 255, 0.7);
  font-size: 17px;
}

.crear-requisitos-form {
  padding: 15px;
}

.crear-requisitos-group {
  display: flex;
}

.crear-requisitos-group > div {
  padding-left: 7px;
  margin-bottom: 20px;
}
.crear-requisitos-group > div > div {
}
