.requisitos-container {
  border-radius: 15px;
  color: rgba(255, 255, 255, 0.7);

  padding: 15px 15px;
  margin-left: 25px;
  margin-top: 25px;
  background-color: #2b3048;
  
}
.requisitos-table-headitem {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 600;
  padding: 12px 7px;
  text-align: left;
}

.requisitos-table-headitem-title {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 600;
  padding: 12px 7px;
  padding-left: 20px;
  text-align: left;
}

.requisitos-header-group {
  padding: 22px;
  color: rgba(255, 255, 255, 0.7);
  font-size: 21px;
 padding-top:0px;
 padding-bottom: 10px;
 padding-left: 0px;
}

.requisitos-header-group > h4 {
  font-weight: 100;
  padding: 20px 20px;
}
.requisitos-tabla {
  border-collapse: collapse;
  border-spacing: 2px;
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.1);
  
  
}



.requisitos-table-item {
  padding: 12px 7px;
  font-size: 14px;
  text-align: left;
}

.requisitos-table-item-title{
  padding: 12px 7px;
  padding-left: 20px;
  font-size: 14px;
  text-align: left;
  
  
}




.requisitos-table-row {
  border-top: 1px solid rgba(255, 255, 255, 0.1);

}

.requisitos-table-row:hover {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  background-color: #1b1f2d;
  cursor: pointer;
}



