.categories-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
}

.button-home{
    margin-left: 25px;
}

.category-item-icon-OTRO{
    background-color: #dc9823;
    width: 13vh;
    height: 13vh;
    border: 4px solid #ccc; 
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.category-item-icon-MA{
    background-color: #45784b;
    width: 13vh;
    height: 13vh;
    border: 4px solid #ccc; 
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.category-item-icon-SSO{
    background-color: #1a697a;
    width: 13vh;
    height: 13vh;
    border: 4px solid #ccc; 
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.category-item-icon-SSO-Total{
    background-color: #1a697a;
    width: 13vh;
    height: 13vh;
    border: 4px solid #008000; 
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.category-item-icon-SSO-No.aplica{
    background-color: #1a697a;
    width: 13vh;
    height: 13vh;
    border: 4px solid #ccc; 
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.category-item-icon-SSO-No.evaluado{
    background-color: #1a697a;
    width: 13vh;
    height: 13vh;
    border: 4px solid #f4ad42; 
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.category-item-icon-SSO-Parcial{
    background-color: #1a697a;
    width: 13vh;
    height: 13vh;
    border: 4px solid #c4ab00; 
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.category-item-icon-MA-Total{
    background-color: #45784b;
    width: 13vh;
    height: 13vh;
    border: 4px solid #008000; 
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.category-item-icon-MA-No.aplica{
    background-color: #45784b;
    width: 13vh;
    height: 13vh;
    border: 4px solid #ccc; 
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.category-item-icon-MA-No.evaluado{
    background-color: #45784b;
    width: 13vh;
    height: 13vh;
    border: 4px solid #f4ad42; 
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.category-item-icon-MA-Parcial{
    background-color: #45784b;
    width: 13vh;
    height: 13vh;
    border: 4px solid #c4ab00; 
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.category-item-icon-OTRO-Total{
    background-color: #dc9823;
    width: 13vh;
    height: 13vh;
    border: 4px solid #008000; 
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.category-item-icon-OTRO-No.aplica{
    background-color: #dc9823;
    width: 13vh;
    height: 13vh;
    border: 4px solid #ccc; 
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.category-item-icon-OTRO-No.evaluado{
    background-color: #dc9823;
    width: 13vh;
    height: 13vh;
    border: 4px solid #f4ad42; 
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.category-item-icon-OTRO-Parcial{
    background-color: #dc9823;
    width: 13vh;
    height: 13vh;
    border: 4px solid #c4ab00; 
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.category-item-icon:hover{
    cursor: pointer;
    border-color: rgb(29, 161, 242) !important;
    box-shadow: 0 10px 20px -10px rgb(16, 112, 172) !important;
    
}
a{
    text-decoration: none;
}

.category-item-title{
    word-wrap: break-word;
    text-align: center;
    margin-top: 10px;
    color: rgba(255, 255, 255, 0.7);
    min-height: 100px;
    text-decoration: none;
}

.category-item{
    width: 13vh;
    margin: 20px;
}

.home_button {
    color: rgba(255, 255, 255, 0.7);
    margin-top: 15px;
}

.back_button{
    color: rgba(255, 255, 255, 0.7);
    margin-top: 15px;
}

.category-item-icon-img{
  
    max-width: 60%;
    max-height: auto;
    -webkit-filter:invert(1);
        filter:invert(1);
}