.categories-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
    height: 60vh;
}




    
.category-item-icon-menu3{
    background-color: #dc9823;
    width: 15vh!important;
    height: 15vh!important;
    border: 2px solid #ccc!important; 
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.category-item-icon-menu1{
    background-color: #45784b;
    width: 15vh!important;
    height: 15vh!important;
    border: 2px solid #ccc!important; 
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.category-item-icon-menu2{
    background-color: #1a697a;
    width: 15vh!important;
    height: 15vh!important;
    border: 2px solid #ccc!important; 
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.category-item-icon-menu:hover{
    cursor: pointer;
    border-color: rgb(29, 161, 242) !important;
    box-shadow: 0 10px 20px -10px rgb(16, 112, 172) !important;
}


.category-item-title-menu{
    word-wrap: break-word;
    text-align: center;
    font-size: 18px;
    margin-top: 15px;
    color: rgba(255, 255, 255, 0.7);
}

.category-item-menu{
    width: 15vh!important;
    height: 15vh!important;
    margin: 20px;
}

@media(min-width:1400px){

    .category-item-icon-menu3{
        background-color: #dc9823;
        width: 23vh!important;
        height: 23vh!important;
        border: 2px solid #ccc!important; 
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    .category-item-icon-menu1{
        background-color: #45784b;
        width: 23vh!important;
        height: 23vh!important;
        border: 2px solid #ccc!important; 
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    .category-item-icon-menu2{
        background-color: #1a697a;
        width: 23vh!important;
        height: 23vh!important;
        border: 2px solid #ccc!important; 
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    
    
    .category-item-title-menu{
        word-wrap: break-word;
        text-align: center;
        font-size: 22px;
        margin-top: 15px;
        color: rgba(255, 255, 255, 0.7);
    }
    
    .category-item-menu{
        width: 23vh!important;
        height: 23vh!important;
        margin: 20px;
    }
    

}


.home_button {
    color: rgba(255, 255, 255, 0.7);
    margin-top: 15px;
}

.back_button{
    color: rgba(255, 255, 255, 0.7);
    margin-top: 15px;
}

.category-item-icon-img{
  
    max-width: 60%;
    max-height: auto;
    -webkit-filter:invert(1);
        filter:invert(1);
}